@keyframes opacity-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes large-triangle-enter {
  0% {
    left: -220%;
    top: -44%;
  }
  10% {
    left: -48%;
  }
  80% {
    top: -44%;
  }
  100% {
    left: -48%;
    top: -25%;
  }
}

@keyframes right-triangle-enter {
  0% {
    opacity: 0;
    bottom: -20%;
    right: -100%;
    transform: rotate(120deg) skewX(10deg) scale(2.5);
  }
  30%, 70% {
    opacity: .5;
    bottom: -30%;
    right: -5%;
    transform: rotate(120deg) skewX(10deg) scale(2.5);
  }
  100% {
    opacity: 1;
    bottom: -2%;
    right: -24%;
    transform: rotate(120deg) skewX(10deg) scale(1);
  }
}

@keyframes right-triangle-media {
  0% {
    opacity: 0;
    bottom: -20%;
    right: -100%;
    transform: rotate(120deg) skewX(10deg) scale(2.5);
  }
  30%, 70% {
    opacity: .5;
    bottom: -30%;
    right: -5%;
    transform: rotate(120deg) skewX(10deg) scale(2.5);
  }
  100% {
    opacity: 1;
    bottom: -60%;
    right: -70%;
    transform: rotate(120deg) skewX(10deg) scale(1);
  }
}

@keyframes left-triangle-enter {
  0% {
    opacity: 0;
    top: 80%;
    left: -90%;
    transform: rotate(28deg) skewX(0deg) scale(3);
  }
  30%, 70% {
    opacity: .5;
    top: -40%;
    left: -15%;
    transform: rotate(28deg) skewX(10deg) scale(3);
  }
  100% {
    opacity: 1;
    top: -40%;
    left: -15%;
    transform: rotate(28deg) skewX(10deg) scale(1);
  }
}

@keyframes small-triangle-enter {
  0% {
    opacity: 0;
    left: 100%;
    bottom: 200%;
    transform: rotate(210deg) skewX(0deg) scale(3);
  }
  30%, 70% {
    opacity: .5;
    bottom: -10%;
    left: 50%;
    transform: rotate(210deg) skewX(3deg) scale(3);
  }
  100% {
    opacity: 1;
    bottom: -10%;
    left: 50%;
    transform: rotate(210deg) skewX(3deg) scaleX(1);
  }
}
