@font-face {
  font-family: "Orbitron";
  src: url(../../fonts/orbitron-medium.otf);
}

@font-face {
  font-family: "Orbitron Light";
  src: url(../../fonts/orbitron-light.otf);
}

@font-face {
  font-family: "Bungee Shade";
  src: url(../../fonts/Bungee-Shade.otf);
}

@font-face {
  font-family: 'Montserrat Subrayada';
  src: url(../../fonts/MontserratSubrayada-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat Subrayada Bold';
  src: url(../../fonts/MontserratSubrayada-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../../fonts/OpenSans-Bold.ttf);
}
