$primary-color: rebeccapurple;
$red: 102;
$green: 51;
$blue: 153;

$breakpoints: (
  'small': (min-width: 660px),
  'medium': (min-width: 800px),
  'large': (min-width: 1100px),
  'x-large': (min-width: 1470px),
);
