$primary-color: rebeccapurple;
$red: 102;
$green: 51;
$blue: 153;

$secondary-color: #333399;
$red2: 51;
$green2: 51;
$blue2: 153;

$breakpoints: (
  'x-small': (max-width: 365px),
  'small': (min-width: 660px),
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'x-large': (min-width: 1300px),
  'vertical': (max-height: 700px) and (orientation: landscape),
);
