.img-gradient {
  background: linear-gradient(to bottom, rgba($red,$green,$blue,.4) 0%,rgba($red2,$green2,$blue2,0.7) 100%);
  img {
    width: 100%;
    position: relative;
    z-index: -1;
    display: block;
  }
}
