.logo {
  background: lighten($secondary-color, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 4px solid darken($secondary-color, 10%);
  position: relative;
  order: 2;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
    border-bottom: 3px solid darken($secondary-color, 10%);
  }
  p {
    font-family: 'Droid Serif', sans-serif;
    font-size: 30px;
    color: darken($secondary-color, 15%);
    @include respond-to('large') {
      font-size: 3.5vw;
      margin: auto;
    };
  }
  @include respond-to('large') {
    min-height: 19vh;
  };
}
