.logo {
  background: lighten($primary-color, 40%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  p {
    font-family: 'Tangerine Bold', fantasy;
    font-size: 30px;
    color: darken($primary-color, 15%)
  }
}
