.logo {
  background: #dd9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  p {
    font-family: 'Tangerine Bold', fantasy;
    font-size: 30px;
    color: $primary-color;
  }
}
