@import
  "../crosspage/main";

body {
  background-color: lighten($primary-color, 50%);
}
.container {
  display: flex;
  flex-direction: column;
  color: $primary-color;
  overflow: hidden;
  padding-bottom: 200px;
}

.jumbotron {
  text-align: center;
  background: darken($primary-color, 10%);
  font-family: 'Bungee Shade';
  color: lighten($primary-color, 50%);
  h1 {
    font-size: 3em;
    padding: .5em 0;
  }
}

aside {
  transition: left .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: lighten(rgba($red2, $green2, $blue2, .9), 46%);
  z-index: 100;
  overflow: hidden;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    li:nth-child(odd) {
      align-self: flex-start;
      transform: rotate(45deg);
      @media screen and (max-height: 750px) {
        transform: rotate(0deg);
      }
    }
    li:nth-child(even) {
      transform: rotate(-45deg);
      align-self: flex-end;
    }
    li {
      transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      &:hover {
        transform: rotate(0deg);
      }
    }
    a:link, a:visited {
      font-size:11vw;
      padding: 5px 300px;
      margin: 0 -300px;
      background-color: rgba($red, $green, $blue, .1);
    }
    a:hover {
      color: lighten($primary-color, 10%);
    }
  }
}

// feature triangles
.feature:nth-child(odd) {
  &::after, &::before {
    content: "";
    position: absolute;
    opacity: 0;
  }
  &::after {
    @include triangle(20vw, rgba($red,$green,$blue,0.3));
    animation: right-triangle-enter 5s ease-in-out 1s normal forwards;
  }
  &::before {
    @include triangle(50vw, rgba($red2,$green2,$blue2,0.3));
    animation: large-triangle-enter 6s linear  normal forwards;
    z-index: -1;
    transform: rotate(-61.5deg) skewY(40deg);
    opacity: 1;
  }
}

.feature:nth-child(even) {
  &::after, &::before {
    content: "";
    position: absolute;
    opacity: 0;
  }
  &::after {
    @include triangle(20vw, rgba($red,$green,$blue,0.1));
    animation: left-triangle-enter 5s linear 1s normal forwards;
  }
  &::before {
    @include triangle(9vw, rgba($red2,$green2,$blue2,0.2));
    animation: small-triangle-enter 5s linear 1s normal forwards;
  }
}

footer{
  margin-top: -50px;
  background-color: darken($primary-color, 10%);
  height: 100px;
  text-align: center;
  transform: skewY(-7deg);
  img {
    width: 28px;
    padding: 10px 5px;
  }
  a, a:visited, a:link {
    &:nth-child(n+4) {
      color: lighten($primary-color, 30%);
      padding: 5px 15px;
    }
  }
  a:hover {
    opacity: .6;
    > * {
      transform: scale(.8);
    }
  }
}
